Navbar{
    display: flex;
    flex-direction: row;
  }
  
  
  .nav-bar{
  
    display: flex;
    flex-direction: row;
    

   
   
    
    padding: 1rem;
    z-index: 1000;
    justify-content: space-evenly;
  
  ul{
    list-style: none;
    display: flex;
  flex-direction: row;
  margin: 20px;
  li{
  
  margin: 40px;
  display: flex;
  
  
  }
  
  }
  
  }
  
  .imgcart{
  height: 40px;
  
  }
